

.dataTables_filter{
}

.dataTables_filter input ,
.dataTables_length select {
    border: 2px #e1e1e1 solid;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    height: 40px;
    padding: 0px 10px;
}

.dataTables_filter input:focus ,
.dataTables_length select:focus {
    border: 2px #0d6efd solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 2px transparent solid;
    border-radius: 50%;
    background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 2px #ff00007a solid;
    background: none;
    color: #ff00007a !important;
}

div.dataTables_wrapper div.dataTables_paginate{
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current ,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    background: none;
    border: 2px #0d6efd solid;
    border-radius: 50%;
    color: #0d6efd !important;
    font-weight: bolder;
}


.dataTables_wrapper .table-striped tbody tr:nth-of-type(odd){
}
